/**
    Fuente para todo el documento
*/
* {
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    text-align: center;
}

/**
    Clase que pertenece a la foto de perfil
*/
.foto-de-perfil {
    margin: 40px 0px 40px 0px;
    width: 180px;
    height: 180px;
    border: 2px solid;
    border-color: gray;
    border-radius: 50%;
}

i {
    padding-right: 5px;
}

/**
    Clase que abarca toda la zona del CV
*/
.cv {
    background-color: white;
}

/**
    Clase que divide articulos de la seccion Informacion
*/
.caja {    
    padding: 0px 20px 0px 20px;
    margin-bottom: 40px;
}

/**
    Clase que divide articulos de la seccion Desarrollo
*/
.caja2 {    
    padding: 0px 0px 0px 20px;
    margin-bottom: 40px;
    text-align: justify;
}

/**
    Clase que corresponde a la zona donde aparecera mi Nombre
*/
.nombre {
    background-color: rgb(200, 60, 90);    
    color: antiquewhite;
    padding: 40px 0px 20px 30px;
    margin-bottom: 30px;
}

.nombre h1 {    
    font-size: 70px;
}

/**
    Clase de la seccion de Informacion
*/
.informacion{
    background-color: antiquewhite;
}

/**
    Eliminar subrayado de los enlaces
    ---------------------------------
*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
/** 
    ---------------------------------
*/

footer {
    text-align: center;
    background-color: rgb(68, 68, 68);
    color: white;
    padding: 20px 0px 50px 0px;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    height: 7vh;    
    align-items: center;
    justify-content: center;
    background-color: black;    
    color: white;
    padding-top: 20px;
}

nav ul {
    padding: 0 0;
    margin: 0 0;
}

nav ul li {
    display: inline-block;
    margin: 0px 1px;
    width: 100px;
    text-align: center;
}

nav ul li a {
    display: block;
    background-color: gray;
    color: white;
    padding: 10px 0px;
    border: 1px solid;
    border-radius: 5% 5% 0% 0%;
    transition: 0.2s;                /** Propiedad para visualizar los cambios de una transicion */
}

nav ul li a:hover {
    transform: translateY(-3px) scale(1.05);
}

/**
    Cambiar de color el enlace al pasar por arriba con el puntero
*/
.navegacion:hover {
    background-color: rgb(200, 60, 90); 
}

/**
    Clases de la seccion de Redes Sociales
*/
.redes-sociales a {
    color: black;
}

.redes-sociales .linkedin:hover {
    color: rgb(14, 118, 168);
}

.redes-sociales .facebook:hover {
    color: rgb(59, 89, 152);
}

.redes-sociales .twitter:hover {
    color: rgb(0, 172, 238);
}

.redes-sociales .instagram:hover {
    color: #e4404f;
}

.redes-sociales .discord:hover {
    color: #5865F2;
}

.redes-sociales .youtube:hover {
    color: red;
}

/**
    Clase que contiene un bloque de imagenes ocultas
*/
.imagen-bloque {
    display: none;
}

.imagen-bloque img {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
}

/**
    Clase que pertenece al boton mostrar contenido de Hobbies
*/
.boton-mostrar {
    margin-bottom: 20px;
    border-radius: 10%;
    background-color: green;
    color: white;
}

/**
    Clase que pertenece al boton ocultar contenido de Hobbies
*/
.boton-ocultar {
    margin-bottom: 20px;
    border-radius: 10%;
    background-color: red;
    color: white;
}

hr {
    color: gray;
}